<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521370548270-9i9f4jn0grjubmo75epl9ulb14q80vbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521370548270-9i9f4jn0grjubmo75epl9ulb14q80vbb</string>
	<key>API_KEY</key>
	<string>AIzaSyD4c_mfGDiagF4T2jrRqOYUL9B9RO91rmY</string>
	<key>GCM_SENDER_ID</key>
	<string>521370548270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zhongha.jiyunAppClient</string>
	<key>PROJECT_ID</key>
	<string>jiyun-app-1df62</string>
	<key>STORAGE_BUCKET</key>
	<string>jiyun-app-1df62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521370548270:ios:f6c4734b8d314f96b047bf</string>
</dict>
</plist>